{
    "presets": [
        ["@babel/preset-typescript", {
            "jsxPragma": "h"
        }],
        ["@babel/preset-env"]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime"],
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        ["@babel/plugin-proposal-class-properties", {
            "loose" : true
        }],
        ["@babel/plugin-syntax-dynamic-import"],
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "h"
        }]
    ]
}