@import "../../../style-mixins/absolute.scss";
@import "../../../style-mixins/break.scss";

.EditorPresenter {
    > :first-child {
        outline: none;
        padding: 24px;
        overflow: auto;
        @include breakWord;
        @include absoluteExpand;
    }
}