@import "../../style-mixins/background.scss";

.WriteSecurelyLabel {
    display: inline-block;
    font-family: 'Srisakdi', cursive;
    font-weight: bold;
    position: relative;

    .WriteSecurelyLogo {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
}

.WriteSecurelyLogo {
    display: inline-block;
    @include bgCenterContain('/assets/images/logo.png');
    height: 1.5em;
    width: 1.164em;
    vertical-align: middle;

    &__FullFeather {
        background-image: url('/assets/images/logo-full-feather.png');
    }
}