@import "./style-mixins/flex.scss";

html, body {
    margin: 0;
    @include flexParent;
    @include flexChildExpand;
}

* {
    box-sizing: border-box;
}

#WriteSecurely {
    @include flexParent;
    height: 100vh;
}

p, ol, ul {
    margin: 0px;
}