@import "../../style-mixins/flex.scss";

.Editor {
    @include flexParent;

    &__Menu {
        @include flexChildCollapse;
    }

    &__Content {
        @include flexChildExpand;
        position: relative;
        flex-basis: 0px;
        min-width: 0px;
    }
}