@import "../../style-mixins/flex.scss";

.Editor {
    @include flexParent;

    &__Menu {
        @include flexChildCollapse;
    }

    &__Content {
        @include flexChildExpand;
        flex-basis: 0px;
        padding: 24px;
        overflow: auto;
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-word;
        min-width: 0px;
    }
}