@import "../../style-mixins/button.scss";
@import "../../style-mixins/flex.scss";

$draggable-edge-width: 20px;

.Sidebar {
    @include flexParent;
    position: relative;
    border-right: 1px solid black;

    &__DraggableEdge {
        cursor: col-resize;
        position: absolute;
        right: -($draggable-edge-width / 2);
        height: 100%;
        width: $draggable-edge-width;
    }

    &__ExpandCollapseButton {
        @include buttonInit;
        @include flexChildCollapse;
        padding: 16px;
        text-align: center;
        border-bottom: 1px solid black;
        font-size: 25px;
    }

    &__Content {
        @include flexChildExpand;
    }
}